* {
  margin: 0px;
  padding: 0px;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://wallpapercrafter.com/desktop4/1164221-chile-atacama-desert-northern-chile-san-pedro-atacama.jpg");
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 40px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(180, 179, 179);
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-end;
}
.hero-title {
  font-size: 65px;
  margin-top: 140px;
}
.hero-subtitle {
  color: whitesmoke;
  font-size: 15px;
}

.input-search {
  height: 50px;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
}
.button-submit {
  background-color: whitesmoke;
  border: none;
  color: rgb(70, 70, 70);
  padding: 16px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.button-submit:hover {
    background-color: #595a59b6;
    color: white;
  }
  
.button1 {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.button1:hover {
  background-color: #4caf4f7a;
  color: white;
}
